# Server Config
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200

# Database Config
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=augmont_crud
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DIALECT=postgres

# Auth Config
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=24h
